<div class="thumbnail-loader" data-lazy-images-target="loader" aria-hidden="true">
  <div class="thumbnail-loader__orbit">
    <span class="thumbnail-loader__dot"></span>
  </div>
  <div class="thumbnail-loader__emoji">
    <span class="thumbnail-loader__ok">🆗</span>
    <span class="thumbnail-loader__not">🚫</span>
  </div>
</div>
